<div class="map-control-element date-slider-container">
    <Label class="layer-control-label" style="font-size:12px">{{label}}</Label>
    <input class="slider"
        data-slider-min={{min}}
        data-slider-max={{max}}
        data-slider-step={{step}}
        data-slider-value={{initialValue}}>
    <div class="date-label">{{initialFormattedValue}}</div>
</div>
